@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat:wght@200&family=Poppins&display=swap');

*{
    box-sizing: border-box;
}

body{
    margin:0;
    font-family: 'Poppins', sans-serif;
}


/* começo do cabeçalho */
.header, .navigation_header{
display: flex;
flex-direction: row;
align-items: center;
}
.header{
background-color: #303030;
box-shadow: 1px 1px 4px #1c1c1c;
height: 5.0em;
justify-content: space-between;
padding: 0 10%;
}
.navigation_header{
    gap: 3em;
}

.logo_header h1{
    font-family: 'Lobster', cursive;
    font-size: 45px;
    color: #fdc009;
}

.navigation_header a{
    text-decoration: none;
    color: white;
    transition: 0.4s;
    font-weight: bold;
}
.active:hover{
    padding: 10px;
    border-radius: 10px;
    background-color: #6d6d6d;
}
/* fim do cabeçalho */


/* div main */
.main{
display: flex;
background-image: url('../img/fundopizza.jpeg');
height: 849px;
background-size: 100vw 180vh;
}
/* div main */


/* começo da headline */
.headline h2{
    font-family: 'Lobster', cursive;
    font-size:120px;
    font-weight: 900;
    padding: 300px;
    margin-left: -83px;
    color: #fdc004;
    margin-top: -90px;
}

.headline p{
    margin-left: 228px;
    font-size:30px;
    color: rgb(255, 255, 255);
    margin-top: -340px;
    width: 900px;
    margin-bottom: 80px;
}

.img-headline{
    transform: rotate(270deg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
/* fim da headline */


/* botão */
.btn-pedir{
    display: inline-block;
    margin-left: 228px;
    padding: 10px 30px;
    background-color: transparent;
    border-radius: 30px;
    text-transform: capitalize;
    font-weight: 500;
    transition: all 0.3s ease;
    font-size: 25px;
    cursor: pointer;
    font-family: inherit;
    color: #eaa023;
    line-height: 1.5;
    user-select: none;
    border: none;
    text-decoration: none;
}
.btn-default{
    border: 2px solid #eaa023;
}
.btn-default:hover{
    color: white;
    background-color: #eaa023;
}
/* fim do botão */


/* rodapé */
.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #eaa023;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}
/* fim rodapé */